.A{
	color: #811E6C;
	font-family: Old English Text MT;
	font-weight: 12px;
	font-style: bold;
	font-size: 123px;
}
.B{
	color: #8B6182;
	font-family: Castellar;
	font-weight: 12px;
	font-style: normal;
	font-size: 23px;
}
.C{
	color: #680C54;
	font-family: Goudy Stout;
	font-weight: 12px;
	font-style: underline;
	font-size: 80px;
}